version: 2
 jobs:
   build:
     machine:
       image: ubuntu-1604:201903-01
     steps:
       - checkout
       - run:
           name: Install Go 1.13
           command: |
               sudo rm -rf /usr/local/go
               wget -O go.tgz https://golang.org/dl/go1.13.linux-amd64.tar.gz
               sudo tar -C /usr/local -xzf go.tgz
               rm go.tgz
               which go
               go version
       - run:
           name: Run unit tests
           command: |
               go test -v ./... --short
       - run:
           name: Run integration tests
           command: |
               go test -v ./...
